body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #58b4E3;
}

.content{
	width: 1920px;
	height: 1080px;
	background-color: #58b4E3;
	overflow: hidden;
}

#phone{
	position: absolute;
}

#title{
	position: absolute;
	top: 85px;
	left: 610px;
}

.bubble{
	width: 400px;
	height: 400px;
	position: absolute;
	border-radius: 400px;
	border: 5px solid 58b4E3;
}

.bubbles{
	height: 1080px;
	width: 1000px;
	position: absolute;
	right: 0px;
	-webkit-animation: wobble 7s infinite; -webkit-animation-direction: alternate-reverse; -webkit-animation-timing-function: ease-in-out;	
}

@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg) skew(0deg,0deg); }
  33%  { -webkit-transform:  rotate(2deg) skew(5deg,-5deg); }
  66%  { -webkit-transform:  rotate(-2deg) skew(-5deg,5deg); }
  100%  { -webkit-transform:  rotate(0deg) skew(0deg,0deg); }
}